# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment/Secret files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
.env.*
!.env.example
!*.env.example


# IDEs and editors
.idea/
.vscode/
.DS_Store
